body{
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

body * {
   
      font-family: "Inter", sans-serif;
      color: var(--text-color);

      
}

html{
    --text-color: white;
    --bg-url:url(./itens.css/bg-mobile.jpg);
    --strock-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255 ,255 , 0.1);
    --switch-url:url(./itens.css/moon-stars.svg);
    --social-link:rgba(255, 255 ,255, 0.2);
    --surface-color-houver: rgba(0, 0, 0, 0.02);
}

.light {
    --text-color:black;
    --bg-url:url(./itens.css/bg-mobile-light.jpg);
    --strock-color: rgba(115, 114, 114, 0.507);
    --surface-color: rgba(0, 0, 0, 0.05);
    --switch-url:url(./itens.css/sun.svg);
    --social-links:rgba(0, 0, 0, 0.1);
    --surface-color-houver:rgba(0, 0, 0, 0.02);
}


*{
    margin: 0%;
    padding: 0%;
   
}

#conteiner1{
    width: 360px;
    height: 610px;
    margin: auto;
    padding: 15px 25px;
   
}

#profile1 img {
    width: 110px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 0.5px solid white;
}

#profile1{
    text-align: center;
    padding: 24px;  
}

#profile1 p {
    font-weight: 500;
    line-height: 25px;
    margin-top: 8px;
}

#switch{
    position: relative;
    width: 64px ;
    height: 24px;
    margin: 0% auto;
    padding: 4px 4px;
}

#switch button{
    width: 32px;
    height: 32px;
    background-color: white;
    border: 0px ;
    border-radius: 50%;
    background-image: var(--switch-url);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    transform: translateY(-4px)
    translateX(-1px);
    
}
.light #switch button {
    right: 0px;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background-color:var(--surface-color) ;
    border: 1px solid var(--strock-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:  24px 0;
}

ul li a{
    border: 2px solid, var(--strock-color); 
    background-color:  var(--surface-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    transition: all .7s;
}

ul li a:hover{
    border: 2px solid  var(--text-color);
    background-color: var(--surface-color-houver)
}

#social-links{
    display: flex;
    justify-content: center;
    gap: 34px;
    padding: 24px 0;
    font-size: 30px;
  
}

ion-icon:hover{
    background-color: var(--social-links);
    border-radius: 50% ;
    padding: 10px;
    transition: all 02.ms;
}

footer{
    font-size: 13px;
    padding:  15px;
    text-align: center;
}

